.overall-bg {
    margin: 25px 0px;
    padding: 20px 0px;
    background-color: rgb(143, 14, 14);
    border-radius: 5px;
    width: 100%;
}
.overall-bg h1 {
    text-align: center;
    color: white;
    font-size: 3.5rem;
    font-weight: 800;
    font-family: sans-serif;
}
.para {
    line-height: 10px;
    text-align: center;
    color: lightgray;
    font-family: sans-serif;
}
.bg-image {
    margin: 0px 20px;
    width: 97%;
    height: 620px;
    background-image: linear-gradient(rgba(133, 7, 7, 0.5), rgba(133, 7, 7,0.5)), url(Images/Jacob\ Samson\ -\ 1.jpg);
    z-index: -1;
}
.image-one {
    margin: 10px 10%;
    width: 80%;
    height: 550px;
    z-index: 1;
}
.bg-image p {
    font-family: sans-serif;
    color: white;
    font-size: 17px;
    text-align: center;
}
.timeline {
    color: white;
}
.timeline h3 {
    text-align: center;
    font-size: 16px;
    margin: 40px 0px;
    font-weight: 800;
    font-family: sans-serif;
}
.timeline ul li {
    padding: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30%;
    font-size: 15px;
    font-weight: 550;
    line-height: 30px;
}
.timeline ul li span {
    font-weight: 900;
    font-size: 16px;
}
.timeline p {
    padding: 10px 0px;
    margin-left: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    color: white;
    font-style: italic;
}
.info{
    margin: 20px 0px;
    color: white;
    text-align: center;
    font-size: 17px;
    font-weight: 800;
    font-family: sans-serif;
}
.info a {
    color: rgb(136, 136, 235);
}
.author {
    text-align: center;
    color: white;
    font-weight: 500;
    font-family: sans-serif;
    color: whitesmoke;
    font-size: 16px;
}